* {
    padding : 0;
    margin : 0;
    box-sizing: border-box;

}

.user_detailx > h1 {
    width : 90%;
}
.user_detailx {
    padding: 25px;
    height: 500px;
    width: 300px;
    display: inline-block;
    margin: 10px;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(187, 253, 231);
    margin-top: 25px;
    transition: 0.2s;
}
.user_detailx > li {
    background-color: rgb(187, 253, 231);
}
